# Supabase
SUPABASE_URL=https://rapcrtkmgfmzdzefnsaq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhcGNydGttZ2ZtemR6ZWZuc2FxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMzU0OTksImV4cCI6MjA4NzgxMTQ5OX0.R7mfW29Ld7xeLy_qEZwgb8fzbTrke_q67Fo3v2S3L0M
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
SUPABASE_JWT_SECRET=c2VjcmV0LWp3dC1rZXktZm9yLWNvb2tpZWxlYXJuLXByb2plY3QtdmtyLTIwMjYtc3VwZXItc2VjdXJlLXNpZ24=

# Backend
PORT=8080
FRONTEND_URL=http://localhost:3000

# Frontend (публичные)
NEXT_PUBLIC_SUPABASE_URL=https://rapcrtkmgfmzdzefnsaq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhcGNydGttZ2ZtemR6ZWZuc2FxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMzU0OTksImV4cCI6MjA4NzgxMTQ5OX0.R7mfW29Ld7xeLy_qEZwgb8fzbTrke_q67Fo3v2S3L0M
NEXT_PUBLIC_API_URL=http://localhost:8080

DATABASE_URL=postgresql://postgres.rapcrtkmgfmzdzefnsaq:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres